<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768283907591-dkjvvbna4667phqlnq6mub8lv05uu4pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768283907591-dkjvvbna4667phqlnq6mub8lv05uu4pe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768283907591-3a9ilq6kmb1bctv8ucjkscdb2mh8ssks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnYyiS67QxLZL5F7GBXLsTr3bp-FfBjFI</string>
	<key>GCM_SENDER_ID</key>
	<string>768283907591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supposedlysam.peacockandquill</string>
	<key>PROJECT_ID</key>
	<string>peacockandquill</string>
	<key>STORAGE_BUCKET</key>
	<string>peacockandquill.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768283907591:ios:2839d6b3f014fa97563ca2</string>
	<key>DATABASE_URL</key>
	<string>https://peacockandquill.firebaseio.com</string>
</dict>
</plist>